@page "/transaction"
@using Wallet_Tracker.Models
@inject UserService UserService
@inject TransactionService TransactionService

<div class="d-flex justify-content-between">
    <div>
        <!-- Dropdown for Tag -->
        <select @onchange="HandleTagChange">
            <option value="">Select a Tag</option>
            <option value="Salary">Salary</option>
            <option value="Groceries">Groceries</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Bills">Bills</option>
            <option value="Shopping">Shopping</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <div>
        <!-- Dropdown for Transaction Type -->
        <select @onchange="HandleTypeChange">
            <option value="">Select Type</option>
            <option value="Debit">Debit</option>
            <option value="Credit">Credit</option>
            <option value="TakenDebt">Debt</option>
            <option value="ClearedDebt">Debt</option>
        </select>
    </div>

    <div>
        <!-- Date Range Inputs -->
        <label>From:</label>
        <input type="date" @onchange="HandleFromDateChange" />

        <label>To:</label>
        <input type="date" @onchange="HandleToDateChange" />
    </div>

    <div>
        <h3>Transaction History</h3>

        <!-- Sort by Amount -->
        <button class="btn btn-link p-0 text-decoration-none text-dark fw-bold d-flex align-items-center" @onclick="SortByAmount">
            Sort by
            @if (isSortAmountAscending)
            {
                <span class="ms-2">
                    <i class="bi bi-arrow-down"></i> 
                </span>
            }
            else
            {
                <span class="ms-2">
                    <i class="bi bi-arrow-up"></i> 
                </span>
            }
        </button>

    </div>

    <div class="col-md-6">
        <input type="text"
               class="shadow-sm"
               placeholder="Search..."
               @bind="searchParams"
               @oninput="ApplyFilters"
               @onkeypress="HandleKeyPress" />
    </div>
    <p>Total Transactions: @filteredTransactions.Count</p>
</div>

@if (Transactions?.Count > 0)
{
    <table class="table table-striped table-hover align-middle shadow-sm">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>
                    <button class="btn btn-link p-0 text-decoration-none text-dark fw-bold" @onclick="SortDate">
                        Date
                        @if (isSortDateAscending)
                        {
                            <span>&uarr;</span>
                        }
                        else
                        {
                            <span>&darr;</span>
                        }
                    </button>
                </th>
                <th>Type</th>
                <th>
                    <button class="btn btn-link p-0 text-decoration-none text-dark fw-bold" @onclick="SortByAmount">
                        Amount
                        @if (isSortAmountAscending)
                        {
                            <span>&uarr;</span>
                        }
                        else
                        {
                            <span>&darr;</span>
                        }
                    </button>
                </th>
                <th>Tag</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in filteredTransactions)
            {
                <tr>
                    <td>@transaction.Id</td>
                    <td>@transaction.Date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@transaction.Type</td>
                    <td>@transaction.Amount.ToString("C")</td>
                    <td>@transaction.Tag</td>
                    <td>@transaction.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No transactions found.</p>
}

<button class="btn btn-outline-success mt-3" @onclick="ClearTransactionHistory">Clear Transaction History</button>

@code {
    private List<Wallet_Tracker.Models.Transaction> Transactions = new();
    private List<Wallet_Tracker.Models.Transaction> filteredTransactions = new();
    private string searchParams = string.Empty;
    private bool isSortDateAscending = true;
    private bool isSortAmountAscending = true;
    private string Tag = string.Empty;
    private string Type = string.Empty;
    private DateTime? FromDate = null;
    private DateTime? ToDate = null;

    protected override void OnInitialized()
    {
        var username = UserService.loggedInUserName;

        if (!string.IsNullOrEmpty(username))
        {
            Transactions = TransactionService.GetUserTransactions(username);
            filteredTransactions = new List<Wallet_Tracker.Models.Transaction>(Transactions);
        }
    }

    private void SortDate()
    {
        if (isSortDateAscending)
        {
            filteredTransactions = filteredTransactions.OrderByDescending(x => x.Date).ToList();
        }
        else
        {
            filteredTransactions = filteredTransactions.OrderBy(x => x.Date).ToList();
        }

        isSortDateAscending = !isSortDateAscending;
    }

    private void SortByAmount()
    {
        if (isSortAmountAscending)
        {
            filteredTransactions = filteredTransactions.OrderBy(x => x.Amount).ToList();
        }
        else
        {
            filteredTransactions = filteredTransactions.OrderByDescending(x => x.Amount).ToList();
        }

        isSortAmountAscending = !isSortAmountAscending;
    }

    private void ApplyFilters()
    {
        var filteredList = Transactions.AsEnumerable();

        // Apply search filter if any
        if (!string.IsNullOrWhiteSpace(searchParams))
        {
            filteredList = filteredList.Where(x => x.Type.Contains(searchParams, StringComparison.OrdinalIgnoreCase) || x.Description.Contains(searchParams, StringComparison.OrdinalIgnoreCase));
        }

        // Apply tag filter if any
        if (!string.IsNullOrWhiteSpace(Tag))
        {
            filteredList = filteredList.Where(x => !string.IsNullOrEmpty(x.Tag) && x.Tag.Contains(Tag, StringComparison.OrdinalIgnoreCase));
        }

        // Apply type filter if any
        if (!string.IsNullOrWhiteSpace(Type))
        {
            filteredList = filteredList.Where(x => x.Type.Contains(Type, StringComparison.OrdinalIgnoreCase));
        }

        // Apply date range filter if any
        if (FromDate.HasValue)
        {
            filteredList = filteredList.Where(x => x.Date >= FromDate.Value);
        }

        if (ToDate.HasValue)
        {
            filteredList = filteredList.Where(x => x.Date <= ToDate.Value);
        }

        filteredTransactions = filteredList.ToList();
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            ApplyFilters();
        }
    }

    private void HandleTagChange(ChangeEventArgs e)
    {
        Tag = e.Value.ToString();
        ApplyFilters();
    }

    private void HandleTypeChange(ChangeEventArgs e)
    {
        Type = e.Value.ToString();
        ApplyFilters();
    }

    private void HandleFromDateChange(ChangeEventArgs e)
    {
        if (DateTime.TryParse(e.Value.ToString(), out DateTime fromDate))
        {
            FromDate = fromDate;
        }
        ApplyFilters();
    }

    private void HandleToDateChange(ChangeEventArgs e)
    {
        if (DateTime.TryParse(e.Value.ToString(), out DateTime toDate))
        {
            ToDate = toDate;
        }
        ApplyFilters();
    }

    private void ClearTransactionHistory()
    {
        var username = UserService.loggedInUserName;
        if (!string.IsNullOrEmpty(username))
        {
            TransactionService.ClearTransaction(username);
            Transactions.Clear();
            filteredTransactions.Clear();
        }
    }
    private async Task ReloadData()
    {
         TransactionService.GetUserTransactions(UserService.loggedInUserName);
        StateHasChanged(); // Trigger a UI refresh
    }
}
